body {
  font-family: Arial, Helvetica, sans-serif;
}
menu{
  padding:5px 5px 5px 0;
  background-color: #7577dd;
  display: flex;
  list-style: none;
  gap:25px;
  flex-wrap: wrap;
}

menu>li{
  padding:5px;
}

menu>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

main>div{
  display:flex;
}
main>div>section{
  flex:0 0 50%;
}


.waiting {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  padding:10px;
  text-align: center;
  color: #7577dd;
  font-weight: bold;
  
}
.waiting>div {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 20px solid #7577dd;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotation 1s linear infinite;
  position: relative;
}

.waiting>div>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-360deg);
  animation: inner-counter-rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes inner-counter-rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}